body {
  background-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.8);
}

.add-button {
  position: fixed;
  bottom: 2em;
  right: 1em;
}

li {
  list-style: none;
}

.post-item {
  padding: 0 2em 0 2em;
  margin-top: 2em;
}

.align-right {
  margin-left: auto;
  margin-right: 20px;
  text-align: right;
}

.category-chip {
  position: relative;
  margin: 5px 5px 5px auto;
}

.full-size {
  width: 100%;
}